.RbCanvas {
    // position: absolute;
    top: 0;
    bottom: 0;
    height: 40vh;
    width: 80vw;
    left: 0;
    right: 0;
}

.inputGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 40px;
    margin-left: 10vw;
    width: 40vw;
}

#playButton {
    background-color: transparent;
    border: none;
}

#playButtonImage {
    height: 50px;
}

#ffButton {
    background-color: transparent;
    border: none;
}

#ffButtonImage {
    height: 50px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
    margin-right: 10vw;
    position: absolute;
    right: 0;
    bottom: 0;
}