/* MyHeatmap.css */

/* Color for cells with submissions */
.react-calendar-heatmap .color-scale-1 {
  fill: #ccffcc; /* Your desired color for submissions count 1 */
}

.react-calendar-heatmap .color-scale-2 {
  fill: #83c277; /* Your desired color for submissions count 2 */
}

.react-calendar-heatmap .color-scale-3 {
  fill: #56a156; /* Your desired color for submissions count 3 */
}

.react-calendar-heatmap .color-scale-4 {
  fill: #375027; /* Your desired color for submissions count 4 and above */
}

/* Color for empty cells */
.react-calendar-heatmap .color-empty {
  fill: #c0c0c0; /* Your desired color for empty cells */
}
