@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hbox {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.vbox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* CSS for the custom modal component */

/* Style for the overlay backdrop */
.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Style for the modal container */
.custom-modal {
  background-color: #fff; /* White background */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 300px; /* Adjust the width as needed */
  text-align: center;
}

/* Style for the modal content */
.modal-content {
  padding: 20px;
}

/* Style for the input field */
.modal-content input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
}

/* Style for the submit button */
.modal-content button[type="submit"] {
  background-color: #007bff; /* Blue color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

/* Style for the close button */
.modal-content button[type="button"] {
  background-color: #ccc; /* Gray color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

/* Center the modal content */
.modal-content h2 {
  margin-bottom: 10px;
}

/* Additional styles for the submitted value display */
.submitted-value {
  margin-top: 20px;
  font-weight: bold;
}



.blue-button,
.red-button,
.green-button {
  font-family: "Oswald", sans-serif;
  transition: all 0.2s ease-in-out;
  font-size: 2rem;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  color: rgb(232, 229, 229);
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}
.blue-button {
  background-image: linear-gradient(#1a4870, #16344e);
  &:hover {
    background-image: linear-gradient(#194061, #0f202e);
  }
}

.red-button {
  background-image: linear-gradient(#701a1a, #4e1616);
  &:hover {
    background-image: linear-gradient(#611919, #2e0f0f);
  }
}

.green-button {
  background-image: linear-gradient(#36a420, #25842d);
  &:hover {
    background-image: linear-gradient(#188a1e, #1c6622);
  }
}