.text-area {
  // padding: 20px;
  // font-size: 25px;
  // border: none;
  // border-radius: 20px;
  // @apply border-gray-500;
  // background-color: #FBFBFB;
  // resize: none; /* Allow vertical resizing of the textarea */
  // margin-top: 20px;
  // outline: none; 
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1), 
  inset 0px 2px 4px rgba(0,0,0,0.1), 
  inset 0px 1px 2px rgba(0,0,0,0.1), 
  inset 0px 4px 8px rgba(0,0,0,0.1);
}

.text-area:focus {
  outline: none;
  border-color: #1C5B5F;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1),
              0 0 5px rgba(53, 53, 54, 0.5); /* Add a box shadow on the bottom and another on the sides when focused */
}
.dark {
  .text-area {
    // background-color: rgba(59, 64, 70, 0.334);
    box-shadow: inset 0px 1px 2px rgba(165, 165, 165, 0.1), 
    inset 0px 2px 4px rgba(165, 165, 165, 0.1), 
    inset 0px 1px 2px rgba(165, 165, 165, 0.1), 
    inset 0px 4px 8px rgba(165, 165, 165, 0.1);
  }
  .text-area:focus {
    outline: none;
    border-color: #1C5B5F;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1),
                0 0 5px rgba(53, 53, 54, 0.5); /* Add a box shadow on the bottom and another on the sides when focused */
  }
}


.preview-area {
  padding: 20px;
  font-size: 25px;
  border: none;
  border-radius: 20px;
  background-color: #FBFBFB;
  resize: none; 
  margin-top: 20px;
}
.dark {
  .preview-area {
    background-color: rgba(59, 64, 70, 0.334);
  }
}

// .export-button-container-statement {
//   position: absolute;
//   bottom: 10px; /* Adjust the value to control the button's distance from the bottom */
//   left: 50%;
//   transform: translateX(-50%);
//   // background-image: url('../../resources/submit.png'); /* Replace with your image path */
//   // background-size: contain;
//   padding: 10px;
// }

// .export-button-statement {
//   background-color: transparent;
//   border: none;
//   width: 80px; /* Set the desired width of the round button */
//   height: 80px; /* Set the desired height of the round button */
//   border-radius: 50%; /* Makes the button round */
//   cursor: pointer;
//   outline: none;
//   background-image: url("../../../resources/submit.png"); /* Replace with your image path */
//   background-size: contain; /* Resize the background image to fit inside the button */
//   background-repeat: no-repeat;
//   background-position: center center;
//   transition: transform 0.2s ease; /* Add a smooth transition effect */
// }

// /* Add hover effect */
// .export-button-statement:hover {
//   transform: scale(1.1); /* Scale up the button when hovered */
//   background-color: rgba(165, 186, 207, 0.753);
// }
