.component-container {
  width: 80vw; /* Set the width to 70% of the viewport width */
  margin: 0 auto; /* Center the component horizontally */
  min-height: 600px; /* Set your desired minimum height */
  height: auto; /* Allow the div to expand */
  /* Add other styling properties as needed */
}

.submit-button-container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

.souvik-button-container {
  display: flex;
  justify-content: right; /* Horizontal centering */
  align-items: right; /* Vertical centering */
}

.submit-button {
  align-content: center;
  align-self: center;
  align-items: center;
  background-color: rgb(236, 72, 153);
  border: none;
  border-radius: 10px;
  padding: 20px 100px;
  margin: 50px 50px;
  color: rgb(225, 226, 228);
  font-size: 20px;
  font-weight: 600;
  opacity: 0.9;

}
