.stepper-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.step-current{
    background-color: #707070;
    color:blue;
    width: 24px;
    height:24px;
    padding: 15px;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    border: solid;
    border-color:blue;
    border-width: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 0 3.5px #7e7e7e;
    z-index: 2;
}

.step-pending{
    background-color: grey;
    color:white;
    font-weight: bold;
    width: 22px;
    height:22px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    z-index: 2;
}

.step-success{
    background-color: #00a113;
}

.step-error{
    background-color: #ff0000;
}

.stepper-line{
    margin-bottom: -31px;
    margin-left: 15px;
    border: solid;
    border-color: rgb(236, 72, 153);
    border-width: 1px;
    z-index: 1;
    margin-right: 15px;
}

