textarea {
  // width: 100%;
  // padding: 12px; /* Padding for all sides */
  // margin: 10px; /* Margin for all sides */
  // border: 1px solid #e0e0e0; /* Lighter border color */
  // border-radius: 5px;
  // font-size: 16px;
  // line-height: 1.5;
  // resize: vertical;
  // box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); /* Box shadow for all sides except top */
}

// /* Style for the focused textarea */
// textarea:focus {
//   outline: none;
//   border-color: #1C5B5F;
//   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1),
//               0 0 5px rgba(53, 53, 54, 0.5); /* Add a box shadow on the bottom and another on the sides when focused */
// }

// /* Optional: Add a placeholder style */
// textarea::placeholder {
//   color: #999;
// }

// /* Optional: Add a hover effect */
// textarea:hover {
//   border-color: #ccc; /* Lighter border color on hover */
// }
.text-display {
  // margin: 15px 0;
  text-align: left; /* Center-align the text */
  padding: 20px; /* Add some padding for spacing */
  // height: 200px;
  background-color: #222222; /* Light gray background color */
  font-size: 1rem; /* Adjust the font size */
  color: #ffffff; /* Text color */
  border: 3px solid #504f4fe7; /* Add a 1px black border to each item */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a box shadow for depth */
}

.out-display {
  margin: 15px 0;
  text-align: center; /* Center-align the text */
  padding: 15px; /* Add some padding for spacing */
  height: 70px;
  background-color: #359b65; /* Light gray background color */
  font-size: 22px; /* Adjust the font size */
  color: #dcdadc; /* Text color */
  border: none; /* Add a 1px black border to each item */
  transition: all 0.3s ease;
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a box shadow for depth */
}

.horizontal-flow {
  display: flex;
  justify-content: flex-start; /* Start items at the same position */
  height: 1000px;
  padding-top: 3px;
}

.item {
  display: inline-block;
  margin: 10px; /* Add spacing between items */
}

.item-1 {
  width: 75%; /* Set the width for item with class item-1 */
}

.item-2 {
  width: 25%; /* Set the width for item with class item-2 */
}

.white-border {
  box-sizing: border-box;
  border: 3px solid #504f4fe7; /* Add a 1px black border to each item */
  border-spacing: 4px;
}

.title {
  background-color: transparent;
  border: none;
  border-color: transparent;
}
