.node-hovered {
  transition: all 1s ease;
  /* Adjust the duration and easing function as needed */
}

.graph-container {
  position: relative;
  min-height: 500px;
  width: 100%;
}

// .export-button-container {
//   position: absolute;
//   bottom: 10px; /* Adjust the value to control the button's distance from the bottom */
//   left: 50%;
//   transform: translateX(-50%);
//   // background-image: url('../../resources/submit.png'); /* Replace with your image path */
//   // background-size: contain;
//   padding: 10px;
// }

// .export-button {
//   background-color: transparent;
//   border: none;
//   width: 80px; /* Set the desired width of the round button */
//   height: 80px; /* Set the desired height of the round button */
//   border-radius: 50%; /* Makes the button round */
//   cursor: pointer;
//   outline: none;
//   background-image: url("../../../resources/submit.png"); /* Replace with your image path */
//   background-size: contain; /* Resize the background image to fit inside the button */
//   background-repeat: no-repeat;
//   background-position: center center;
//   transition: transform 0.2s ease; /* Add a smooth transition effect */
// }

/* Add hover effect */
// .export-button:hover {
//   transform: scale(1.1); /* Scale up the button when hovered */
//   background-color: rgba(165, 186, 207, 0.753);
// }

// modal.scss

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // background-color: rgb(75, 73, 73);
  width: 500px;
  padding: 20px;
  border-radius: 8px;
  // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
}

.modal-title {
  font-size: 18px;
  margin-bottom: 16px;
  color: antiquewhite;
}

.modal-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  background-color: transparent;
  color: aliceblue;
  border: 0;
}

.modal-buttons {
  justify-content: center;
  color: azure;
  font-size: large;
  font-weight: 400;
  padding: 10px;
  border-radius: 3em;

  button {
    margin: 8px;
  }
}
.modal-buttons:hover {
  transform: scale(1.1);
  font-weight: 500;
  background-color: rgba(31, 194, 99, 0.946);
}

